@import "tailwindcss";



body, html {
  font-family: 'Open Sans', sans-serif;
  touch-action: none;
}

/* Estilos para corrigir autocomplete do navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #4d505c !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Para inputs com prefixo */
input:-webkit-autofill + span,
span + input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #4d505c !important;
}

@theme {
  /* escala de cinzas */
  --color-grayscale-white:      #ffffff;
  --color-grayscale-100:   #f9f9fb;
  --color-grayscale-200:   #e4e6ec;
  --color-grayscale-300:   #cdcfd5;
  --color-grayscale-400:   #74798b;
  --color-grayscale-500:   #4d505c;
  --color-grayscale-600:   #1f2025;
  --shadow-custom: 0 4px 4px rgba(0,0,0,.25);

  /* azuis da marca */
  --color-blue-base:  #2c46b1;
  --color-blue-dark:  #2c4091;

  /* feedback / estado */
  --color-danger:     #b12c4d;
}